blinker==1.9.0
cassandra-driver==3.29.2
click==8.2.1
colorama==0.4.6
confluent-kafka==2.10.0
Faker==37.3.0
faker-vehicle==0.2.0
Flask==3.1.1
geomet==0.2.1.post1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
psycopg2-binary==2.9.10
six==1.17.0
tzdata==2025.2
Werkzeug==3.1.3
